
.content{
  margin-top: 10px;
  padding: 20px;
  border-radius: 4px;
  background-color: #f3f1f1;
}

.bookHead{
  color:#8d8888;
  font-size:40px;
  margin: 40px 0 40px 0;
}

.site{
  font-weight:bold;
  font-size:18px;
  color:#8d8888;
}
.title{
  font-weight:bold;
  font-size:35px;
  color:#8d8888;
}
